
    <div class="categories">
         <h3>Categories:</h3>
      <div class="grid-row">
        <div class="grid-item">
          
          <a href="/recipes?categories=Breakfast"><img class="icon" src="/images/breakfast.png" alt="breakfast img" />Breakfast</a>
        </div>
        <div class="grid-item">
         
          <a href="/recipes?categories=Lunch"> <img class="icon" src="/images/lunch.png" alt="brunch img" />Lunch</a>
        </div>
        <div class="grid-item">
        
          <a href="/recipes?categories=Dinner">  <img class="icon" src="/images/dinner.png" alt="dinner img" />Dinner</a>
        </div>
        <div class="grid-item">
          
          <a href="/recipes?categories=Salad"><img class="icon" src="/images/salad.png" alt="salad img" />Salad</a>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-item">
         
          <a href="/recipes?categories=Seafood"> <img class="icon" src="/images/seafood.png" alt="seafood img" />Seafood</a>
        </div>
        <div class="grid-item">
          
          <a href="/recipes?categories=Rice"><img class="icon" src="/images/rice.png" alt="rice img" />Rice</a>
        </div>
        <div class="grid-item">
          
          <a href="/recipes?categories=Dessert"><img class="icon" src="/images/dessert.png" alt="dessert ßimg" />Dessert</a>
        </div>
        <div class="grid-item">
        
          <a href="/recipes?categories=Drinks">  <img class="icon" src="/images/drinks.png" alt="drinks img" />Drinks</a>
        </div>
 
  <div id="recipeContainer">
      <a href="/recipes">See All Recipes</a>
    </div>
  </div>
</div>
    </div>

<script src="/js/api.js"></script>