/* General Styles */
body {
  display: flex;
  background-color: #fff;
  flex-flow: column wrap;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
  background-image: url("../images/bg-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  justify-content: center;
  align-content: space-evenly;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
}

.logo {
  color: #69b992;
  font-size: 3rem;
  transition: color 0.3s; /* Transition for smooth color change */
}
.logo:hover {
  color: #5f060a; /* Change the color on hover */
  text-decoration: underline;
}
.logo-img {
  height: 100px;
}
#body {
  display: flex;
  flex-grow: 1;
}
header {
  border-bottom: #69b992 3px solid;
  background-color: rgba(0, 0, 0, 0.8);
}

h3,
h2 {
  color: #69b992;
  font-size: 2.25rem;
  margin: 0;
  margin: 0 0 0.5rem;
  line-height: 1.25;
}

.search-bar {
  display: flex;
  max-width: 30%;
  margin: 0;
  border: #69b992 3px solid;
  border-radius: 10px;
  background-color: #fff;
}

/* Recipe List Styles */
.recipe-list {
  display: flex;
  flex-flow: column wrap;
}

.recipe-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: solid #69b992 3px;
  padding: 10px;
}
.recipe-card p {
  padding: 10px;
  font-size: 1.5rem;
}

#recipeList {
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
}
#profileMain {
  margin-bottom: 3%;
}

#profileRecipes {
  display: flex;
  justify-content: center;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-item {
  margin: 5%;
  text-align: center;
  width: 15%; /* Set the width to 20% to ensure 4 items in a row */
}
.grid-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.grid-item a:hover {
  text-decoration: underline;
  color: #69b992;
}

.grid-item a img {
  margin-bottom: 10px; /* Add some space between the icon and text */
}
.recipe-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 70%;
}

.recipe {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 60%;
  height: 100%;
}

/* Recipe Photo on the Main Page */
.recipe-photo {
  width: 400px;
  border-radius: 10px;
  height: auto;
}

/* Footer Styles */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
}

footer a {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  color: #69b992;
}
footer a:hover {
  text-decoration: underline;
  color: #5f060a;
}
.submit-btn {
  background-color: #69b992;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
}
.submit-btn:hover {
  background-color: #5f060a;
}
/* Authentication Styles */

auth {
  margin-right: 1%;
}

.auth a {
  background-color: #69b992;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

#logout {
  background-color: #d90e18;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.auth a:hover {
  background-color: #5f060a;
}
#logout:hover {
  background-color: #5f060a;
}
/* Home Page Styles */
#homeP {
  display: flex;
  height: 25%;
  justify-content: space-between;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Animation Styles */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-animation {
  animation: slideIn 0.5s ease;
}

/* Login and Signup Styles */
#login-signup {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#loginBox,
#signupBox {
  flex-flow: column wrap;
  display: flex;
  align-items: center;
}
.btn.btn-primary {
  background-color: #69b992;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1.5rem;
}

/* Form Styles */
.form {
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #5f060a;
}

.form h1 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-input,
.form textarea,
.form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.form textarea {
  resize: vertical;
}

.form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.form select {
  width: 100%;
}

.form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Recipe List Styles */
.recipe-list h3 {
  font-size: 1.5rem;
}

.recipe-list h4 {
  margin-bottom: 5px;
}

.recipe-list a {
  color: #5f060a;
  text-decoration: none;
}

.recipe-list a:hover {
  text-decoration: underline;
}
.recipe-list .delete-recipe {
  padding: 5px 10px;
  background-color: #5f060a;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.recipe-list .delete-recipe:hover {
  background-color: #5f060a;
}
.create-recipe {
  color: #69b992;
}

/* Recipe Container Styles */

#recipe-container {
  background-image: url(../images/bg13.jpg);
  padding: 10px;
  border-radius: 10px;
}
#recipeContainer ul li {
  list-style-type: "*";
}
#recipeInput {
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.ingredient-row {
  padding: 10px;
}

.remove-ingredient-btn {
  background-color: #d90e18;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#add-ingredient-btn {
  background-color: #69b992;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#recipeContainer {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recipeContainer a {
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  background-color: #69b992;
  padding: 15px;
}
#recipeContainer a:hover {
  background-color: #5f060a;
}
#recipeContainer a:active {
  background-color: #5f060a;
}
.recipe-card {
  background-image: url(../images/bg13.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: solid #69b992 3px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.recipe-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: #69b992;
  transition: background-color 0.3s;
}
.section-title {
  color: #69b992;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
}
